* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #303030;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #00AA8D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #212121;
}

header h1 {
    padding: 5px 1% 5px 6%;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
}

nav a:last-child {
    margin-right: 0;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.startup {
    font-style: italic;
}

.page-section {
    margin-bottom: 50px;
}

.page-section h2 {
    font-size: 50px;
    color: #00AA8D;
    border-bottom: 5px solid #212121;
}

.section-container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.section-container address {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.section-container address a {
    text-decoration: none;
    padding: 5px 10px;
    font-style: normal;
    color:#00AA8D;
    font-size: 30px;
    background-color: #212121;
    margin-bottom: 5px;
}

.section-item {
    border: 10px solid #212121;
    width: 100%;
    margin: 5px;
}

.section-label {
    padding: 20px;
    background-color: #212121;
    height: 100%;
    width: 75%;
    font-size: 35px;
}

.section-item h3 {
    font-size: 50px;
}

.section-item p {
    background-color: #212121;
    font-size: 25px;
}

.section-item img {
    margin: auto;
    display: block;
    max-height: 100%;
    max-width: 25%;
    background-color: #ffffff;
}

.float-left {
    float: left;
    text-align: left;
}

.float-right {
    float: right;
    text-align: right;
}